@use 'hero';
@use 'event';




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: reboto, sans-serif;
    color: rgb(103, 22, 36);
}

.hero__text, span{
    color: #fff;
}

.conatiner {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}